body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.demos-title {
  text-align: center;
  font-size: 34px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.demos-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.demos-header {
  padding: 35px 0;
}

.demos-content-padded {
  padding: 15px;
}

.demos-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

footer a {
  color: #999;
  text-decoration: none;
}

.weui-top-bar{
  display: flex;
  position: fixed;
  z-index: 500;
  top:0;
  left:0;
  width:100%;
}
.weui-search-bar{
  width:100%;
  position: absolute;
  top:0;
  left:0;
}
.weui-select-bar{
  width:100%;
  position: absolute;
  top:44px;
  left:0;
}

.weui-select-bar:before{
  content: "";
  left: 0;
}
.weui-select-bar{
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #efeff4;
}
.weui-select-bar input{
  text-align: center;
}
.weui-order-preview{
  padding-top: 84px;
}
.weui-order-preview .weui-form-preview__hd .weui-form-preview__value {
  font-size: 1rem;
  color: red;
}

/*提交订单页面*/
.commit-order-container .swiper-slide{
  width: 100%;
  overflow-y: scroll;
}
.weui-btn-next{
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  z-index: 500;
}
.demos-header{
  padding: 10px 0;
}

#formStep3{
  width: 100%;
}

/*上传照片*/
.weui-cells_order{
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 80px;
}
.weui-cells_order .weui-order-preview{
  padding-top: 0;
}
.weui-cells_upload{
  margin-top: 0;
}
.weui-cells_upload:before{
  border: none;
}
.weui-cells_upload .weui-uploader{
  padding: 10px 0;
}
.weui-cells_upload_btn{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.weui-uploader__file{
  position: relative;
}
.weui-uploader__file img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.weui-uploader__file-content{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  font-size:12px;
}
.weui-navbar-bar{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  z-index: 500;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
}
.weui-navbar-bar .weui-navbar__item{
  color: #666;
} 
.weui-navbar-bar .weui-navbar__item:last-child{
  background-color: #1aad19;
  color: #fff;
}