body{background-color: #fff;}
/*登录*/
.tn-logo-div{padding:20px 0 0 0px;}
#see-password{color: #c3c3c3;position: absolute;top:0;right: 15px;line-height: 44px;}
#commit-form{margin-top: 15px;}
.weui-cells{font-size: 14px;}
/*错误提示*/
.warning-div{ padding: 5px 15px;font-size: 12px;display: none;}
/*底部提交*/
.button-fixed{position: fixed;bottom:0;width:100%;height: 50px; text-align: center;background: #1AAD19;z-index: 10;color: #fff;line-height: 50px;}
.button-fixed .weui-flex__item:nth-child(2){border-left:1px solid #fff;}
.button-fixed a{line-height: 50px;color: #fff;font-size: 16px;font-weight: bold;}
/*首页*/
